@model IEnumerable<ASP_EFC.ViewModels.CustomerOrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Total orders</h1>
<div class="flex-container">
    <a asp-action="Create" class="btn-link">Create New</a>
    <a href="/Customers/Index" class="btn-link">Show all</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Total Purchase Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerName</td>
                <td>@item.ProductName</td>
                <td>@item.TotalPurchaseAmount.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>

<h2>Filter by:</h2>

<div class="accordion">Orders</div>
<div class="panel">

    <a href="/Customers/FilterAmountOfOrders?amount=100">...total purchase >100</a>
    <a href="/Customers/FilterByTotalPrice">...price below 500</a>
    <a href="/Customers/GroupBy5Orders">With 5 or more orders</a>
</div>

<div class="accordion">Data</div>
<div class="panel">
    <a href="/Customers/FilterByOrdersDate">...orders in current mounth</a>
</div>

<div class="accordion">Name</div>
<div class="panel">
    <a href="/Customers/FilteredCustomers?name=Joe">...Joe</a>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");

            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>